body {
  background-image: url('/images/tlo.png');
  background-size: cover; /* Dopasowanie obrazka do rozmiaru kontenera */

  height: 100vh; /* Wysokość na pełen ekran */
  width: 100%; /* Szerokość na pełną szerokość */
  background-repeat: no-repeat; /* Zapobieganie powtarzaniu obrazka */
}
